.normal {
  position: relative;
  height:51px;
  background-color: #0099CC;
  z-index: 8;
  width: 100%;
}

.right {
  height:100%;
  position: absolute;
  right:0px;
}
.right > ul > li {
  color:#fff;
}
.right > ul > li:hover {
  color:#fff !important;
  border:none !important;
}

:global(.ant-menu-submenu-title:hover) {
  color:#fff !important;
}


.leaft {
  height:100%;
  position: absolute;
  left:0px;
  line-height: 50px;
}
.logout:hover {
  background-color: #00CCFF;
}

.logout {
  height:50px;
  line-height: 50px;
  width:180px;
  color:#fff;
  border-left: 1px solid rgb(0, 143,191);
  font-size: 14px;
}

.logout:hover {
  background-color: rgb(0, 143,191);
}



.logo {
  font-size: 20px;
  width:300px;
  height:50px;
  color:#fff;
  margin-left:20px;
}

.logo:hover {
  color:#fff;
}

.item {
  height:100%;
  text-align: center;
  width:70px;
  background-color: rgb(55, 203, 193);
  line-height: 50px;
  color:#fff;
}

.item:hover {
  color:#fff;
}

.wrapper {
  padding: 0 40px;
}

.isCurrent {
  height:100%;
  text-align: center;
  width:90px;
  background-color: rgb(55, 203, 193);
  line-height: 50px;
  color:#fff;
}

.noCurrent {
  height:100%;
  text-align: center;
  width:90px;
  line-height: 50px;
  color:#fff;
}

.noCurrent:hover {
  color:#fff;
}

.isCurrent:hover {
  color:#fff;
}
