
.normal {
  height: 100%;
  width: 100%;
}

.content {
  width:100%;
  height:100%;
  padding-top:50px;
  padding-left:200px;  
}

.min {
  padding-left:64px;
}
.max {
  padding-left:200px;
}
.subMenu {
  width:180px;
}
