.normal {
  height: 100%;
  width: 100%;
}

.content {
  width:100%;
  height:calc(100vh - 80px);
  padding-left:200px;  
}

.min {
  padding-left:64px;
}
.max {
  padding-left:200px;
}
.subMenu {
  width:180px;
}
