.normal {
  position: fixed;
  top:50px;
  z-index: 20;
  left:0px;
  bottom:0px;
  overflow: none;
  background-color: rgb(41,48,56);
}

.btnBar {
    height:30px;
    line-height: 30px;
    text-align: center;
    color: #efefef;
    background-color: rgb(57,69,85);
}

.max {
  width:200px;
}

.min {
  width: 64px;
}