.normal {
  position: fixed;
  top:50px;
  z-index: 20;
  left:0px;
  bottom:0px;
  overflow: none;
  background-color: rgb(41,48,56);
}

.btnBar {
    height:30px;
    line-height: 30px;
    text-align: center;
    color: #efefef;
    background-color: rgb(57,69,85);
}
:global(.loozb-menu-style) {
  background-color:rgb(41,48, 56) !important;
}

:global(.ant-menu-dark) :global(.ant-menu-inline.ant-menu-sub) {
  background: rgb(30,37,46);
}
:global(.ant-menu-dark) :global(.ant-menu-sub) {
  background: rgb(30,37,46);
}

.max {
  width:200px;
}

.min {
  width: 64px;
}