.normal {
  width:180px;
  position: fixed;
  overflow-y: auto;
  background-color: rgb(234,237,241);
  height:calc(100vh - 50px);
}
.menuName {
  height:70px;
  width:100%;
  display: flex;
  align-items: center;
  text-indent: 38px;
  font-size:20px;
  background-color: rgb(217,222,228);
}
