
  html, body, :global(#root) {
    height: 100%;
    margin:0px;
    padding:0px;
    /*overflow-y:scroll;*/
    background-color: rgb(242,242,242);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  /*:global(.ant-table-row-expand-icon-cell) {
    width:38px !important;
  }*/

  /*:global(.ant-table-body-inner) {
  }*/

  :global(.loozb-menu-style) :global(.ant-menu-item) {
    padding:0px !important;
  }

  :global(.loozb-menu-style) :global(.ant-menu-item) :global(.menu-active) {
    background-color: #0099CC;
    padding-left:28px;
    /* border-right:3px solid #0099CC; */
  }

  :global(.loozb-menu-style) :global(.ant-menu-item) :global(.menu-normal) {
    padding-left:35px;
  }
  /*.ant-menu-sub.ant-menu-inline .ant-menu-item-group-title*/
  :global(.ant-menu-item-group-title) {
    padding-left:20px !important;
  }

  :global(.ant-breadcrumb){
    height:31px;
    background-color: #fff;
     border-bottom:1px solid #efefef; 
    line-height: 31px;
    padding-left:10px;
  }


  :global(.table-page) {
    float:right;
  }

  :global(td) {
    text-align: center;
  }

  :global(.ant-table-expanded-row) :global(td) {
    text-align: left !important;
  }

  :global(th) :global(span){
    display: block;
    text-align: center !important;
  }
  :global(.ant-table-footer) {
    text-align: right;
    /*line-height: 55px;*/
    /*padding:12px 8px !important;*/
    height:48px;
    z-index: 3;
    top: 0px !important;
    background-color: #fff !important;
    border-radius: 0 !important;
  }
  :global(.myCls) {
    height:330px !important;
  }
  :global(.isLeaf) {
    display: none;
  }
  
  :global(.ant-table-title) {
    padding: 4px 4px !important;
    border-top-width:0px !important; 
    top: 0px !important;
    background-color: #fff;
    border-radius: 0 !important;
  }
  :global(.ant-menu) {
    line-height: 50px !important;
  }
  :global(.editor-toolbar) {
    background-color: #fff !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  :global(.toolbarBtn) {
    margin-left:10px;
  }

  :global(.CodeMirror) {
    height:700px !important;
  }
  :global(.reloadBtn) {
    float:right;
    font-size:20px;
    margin-top:4px;
    margin-right:10px;
    cursor:pointer;
    color:#efefef;
  }

  :global(.ant-dropdown-link) {
    color:#fff;
    margin-left:10px;
  }

  :global(.info-modal) :global(.ant-modal-body) {
    padding:0px;
  }

  :global(.ant-collapse-content-box) {
    padding-top:5px !important;
  }

  :global(.ant-collapse-content) {
    padding:0px !important;
  }

 :global(.downing-model) :global(.ant-modal-body) {
   padding:0px;
 }


 :global(.ant-tabs-bar) {
   margin-bottom: 0px !important;
 }

 :global(.ant-tabs-tab) {
   height:31px !important;
 }


 

 :global(.marked-area) {
  border: thin solid #bababa;
  display: block;
}
:global(.marked-area) :global(.marked-area-header) > :global(label) {
  display: block;
}
:global(.marked-area) :global(.marked-area-header) :global(menu) {
  padding: 1em 0.5em;
  margin: 0;
  display: block;
  background: #efefef;
  border-bottom: thin solid #bababa;
}
:global(.marked-area) :global(.marked-area-button) {
  font-size: 16px;
  line-height: 20px;
  border-radius: 0;
  border: thin solid grey;
  background-color: white;
}
:global(.marked-area) :global(.marked-area-button.active) {
  color: white;
  background-color: grey;
}
:global(.marked-area) :global(.marked-area-help-link) {
  margin-left: 1em;
}
:global(.marked-area) :global(.marked-area-text-container) > :global(textarea),
:global(.marked-area) :global(.marked-area-text-container) > :global(div) {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  min-height: 160px;
  padding: 1em;
  margin: 0;
}
:global(.marked-area) :global(.marked-area-live-divider) {
  margin: 0 0 -1.5em;
  opacity: 0.3;
  border-top: thin solid black;
  padding: 0.5em 0.5em 0;
  font-size: 16px;
  line-height: 16px;
}
